.App {

  text-align: center;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px ;
  background: #dcdcdc;

}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li{
  list-style: none;
  padding: 1px 7px;
  margin: 5px;
  border: 1px solid #40a9ff;
  background-color: white;
}
.pagination li:hover{
  background-color: #40a9ff;
  color: white;
}
.pagination li button{
  background: none;
  border: none;
  cursor: pointer;
}

.pagination li.current-page{
  background-color: #40a9ff;
  color: white;
}